body {
    margin: 60px auto;
    width: 70%;
}
ul {
    font-family: 'Lato', 'Sans-Serif';
    padding: 0px;
    list-style: none;    
}
li {   
    margin-right: 20px;
    list-style-type: none;
    line-height: 1.8em;   
    list-style: none;
}
a {
    text-decoration: none;
    color: #999;
}